<div style="border-radius: 5px; border: 1px solid Gray;">
    <div style="padding-top: 10px; padding-bottom: 10px; padding: 7px 12px">
        <div>
            <textarea placeholder="Compose a Chirp..." style="width: 100%; border-radius: 5px;
                border: 1px solid gray" id="chirpText" rows="3"></textarea>
        </div>
        <div style="text-align: right">
            <input type="button" name="postChirp" id="postChirp" value="Chirp" />
        </div>
    </div>
</div>
